.app-wrapper {
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header {
  grid-area: h;
  background: rgb(52, 148, 7);
}

.header img {
  width:30px;
}

.nav {
  grid-area: n;
  background: rgb(11, 224, 153);
}

.content {
  grid-area: c;
  background: rgb(221, 224, 186);
}

.content img {
  width: 100%;
}